<body>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="text-center" id="borde">

    <br>

    <button (click)="loginGoogle()" type="button" class="btn btn-primary btn-lg">Inicia sesión con Google</button>

    <br>
    <br>

    <button routerLink="/email-login" type="button" class="btn btn-primary btn-lg">Inicia sesión con correo</button>

    <br>
    <br>

    <a routerLink="/signup" routerLinkActive="active" class="create-account-txt">¿Sin cuenta? <strong>Registrate ahora</strong></a>
  </div>
</body>
